Olá, <strong>{{ student }}.</strong>
<p>A equipe GymPoint fica feliz por ajudar
  com duvidas referente a processo.
</p>
<p><strong>Duvida:</strong> {{ question }} </p>
<p><strong>Resposta:</strong> {{ answer }} </p>
